@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';

@actions-padding: @ak-grid-size * 2;
@vertical-padding: @ak-grid-size * 3.5;

.container {
  display: flex;
}

.container + .container {
  padding-top: @vertical-padding;
}

.avatar-section {
  margin-right: @ak-grid-size * 2;

  [dir="rtl"] & {
    margin-left: @ak-grid-size * 2;
    margin-right: 0;
  }
}

.avatar-container {
  align-self: stretch;
  display: flex;
}

.main-section {
  margin-top: @ak-grid-size * 0.25;
  min-width: 0;
  word-wrap: break-word;
  flex: 1 1 100%;
}

.top-items-container {
  display: flex;
}

.top-item {
  display: inline-block;
}

.top-item + .top-item {
  margin-left: @ak-grid-size;

  [dir="rtl"] & {
    margin-left: 0;
    margin-right: @ak-grid-size;
  }
}

.top-button-text,
.top-button-link:not(:hover):not(:active) {
  color: @ak-color-N500;
}

.comment-author {
  font-weight: 500;
}

.bullet-spacer {
  padding-right: @ak-grid-size/2;
}

.restricted {
  display: flex;
  color: @ak-color-N100A;
}

.content-container {
  color: @ak-color-N800;
  margin-top: @ak-grid-size / 2;
}

.optimistic-saving-content {
  color: @ak-color-N100A;
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: @ak-grid-size * 0.75;
}

.actions-item {
  display: flex;
}

.actions-item + .actions-item::before {
  color: @ak-color-N500;
  content: "\b7\a0"; // middot character
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: @actions-padding;
}

.nested-comments {
  display: flex;
  flex-direction: column;
  margin-top: @vertical-padding;
}

.error-icon {
  color: @ak-color-Y500;
  padding-right: @ak-grid-size;
}
